<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>
    <section class="new-queue">
      <h2>Create a new queue</h2>
      <form class="" action="/create-queue" method="post">
        <input class="pretty-input" type="text" name="queue-name" placeholder="Name of queue" value=""><br>
        <br><input class="pretty-button" type="submit" name="" value="submit">
      </form>
    </section>
  </body>
</html>
