Create a new queue
<form class="" action="/create-queue" method="post">
  Name:<input type="text" name="queue-name" placeholder="Name of queue" value=""><br>
  Password (leave blank for public queue): <input type="password" name="queue-password" value="">
  <input type="submit" name="" value="submit">
</form>
