<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>
    <nav>
      <h2 class="header-title"><a href="/">PartyQueue</a></h2>
    </nav>

    <section class="index">
      <h2>Ops...</h2>
      <p>
        {{{error}}}
      </p>
    </section>
  </body>
</html>
