<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>
    <section class="index">
      <h2>Queue maker</h2>
      <p>Make a Queue for an event to share with friends. <br>
        No more fighting over changing songs!
      </p>
      <a class="pretty-button" href="/get_access">Create party queue</a>
    </section>
  </body>
</html>
