<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>
    <section class="index">
      <h2>Queue maker</h2>
      <p>Make a Queue for an event to share with friends. <br>
        No more fighting over changing songs!
      </p>
      <a class="pretty-button" href="/get_access">Create party queue</a>
    </section>

    <section class="public-queues-section">
      <div class="public-queues-list">
        <h3>Public queues</h3>
        <div class="public-queues-list-item">
          <ul>
            {{#each queues}}
                <li><a href="/party/{{{this.id}}}">{{{this.name}}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
    </section>

  </body>
</html>
