<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body ng-app="spotifyApiApp" ng-controller="SearchController">
    <h2>{{{name}}}</h2>
    Add song to queue:
    <form class="" ng-submit="search()">
      <input ng-focus="focus=true" ng-blur="focus=false" type="text" id="search-input" name="search-input" value="" ng-model="search_input">
    </form>
    <div id="search-results" ng-show="focus">
      <div class="song" ng-repeat="song in search_results" ng-click="addSong(song)">
        <img ng-src="[[[ song.album.images[2].url ]]]" alt="">
        [[[song.name]]] - [[[song.artists[0].name]]]
      </div>
    </div>
    {{#each song_queue}}
      {{name}}
    {{/each}}
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
  <script src="/js/search.js"></script>
</html>
