<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body ng-app="spotifyApiApp" ng-controller="SearchController" ng-cloak>
    <nav>
      <h2>QueueMaker</h2>
    </nav>
    <section class="queue">
      <h1 class="queue-name">{{{name}}}</h1>

      <div class="contain-queue">
        <div class="now-playing" ng-show="nowPlaying.name.length>0">
          <img class="album-art-playing"ng-src="[[[ nowPlaying.album.images[1].url ]]]" alt="">
          <div class="now-playing-info">
            <h3>Now playing <span ng-hide="isPlaying">(paused)</span> </h3>
            [[[nowPlaying.name]]] -  [[[nowPlaying.artists[0].name]]]<br>
          </div>

          <div class="control-box">
            <a class="control-button" ng-show="isPlaying && user_id==admin" ng-click="pause()"> <img src="/img/pause-icon.png" alt="Pause button"> </a>
            <a class="control-button" ng-show="!isPlaying && user_id==admin" ng-click="play()"><img src="/img/play-icon.png" alt="Play button"></a>
            <a class="control-button" ng-show="user_id==admin && song_queue.length>0" ng-click="next()"><img src="/img/next-icon.png" alt="Next song button"></a>
            <br>
            <a href="#" class="pretty-button" ng-show="user_id==admin" ng-click="remove()">Remove queue</a>
            <a href="#" class="pretty-button green" ng-show="user_id!=admin && !subscribers.includes(user_id)" ng-click="subscribe()">Connect queue with Spotify Account</a>
            <a href="#" class="pretty-button" ng-show="user_id!=admin && subscribers.includes(user_id)" ng-click="unsubscribe()">Disconnect queue from Spotify Account</a>
          </div>

        </div>

        <div class="search-form" ng-show="user_id.length>0">
          <br>
          <form class="" ng-submit="search()">
            Add a song to queue:
            <input class="pretty-input" ng-focus="focus=true" type="text" id="search-input" name="search-input" placeholder="Song name" ng-model="search_input">
            <a ng-show="focus" name="button" ng-click="focus=false"> <img class="close-dropdown-img" src="/img/icon-exit.png" alt="Exit"></a>

          </form>
          <div id="search-results" ng-show="focus && search_results.length>0">
            <div class="song" ng-repeat="song in search_results">
              <img class="cover-img" ng-src="[[[ song.album.images[2].url ]]]" alt="">
              <div class="song-info">
                [[[song.name]]] - [[[song.artists[0].name]]]
              </div>
              <button class="add-button" ng-click="addSong(song)" type="button" name="button"> <img src="/img/add-icon.png" alt=""> Add</button>
            </div>
          </div>
        </div>

        <div class="pick-name" ng-hide="user_id.length>0">
          Pick a username to be able to add songs!<br>
          <input class="pretty-input" type="text" name="name-input" placeholder="Username" ng-init="input_username"ng-model="input_username">
          <button class="pretty-button" type="button" name="button" ng-click="enterUsername(input_username)">Done</button>

        </div>

        <h2 ng-show="user_id.length>1">Song queue</h2>
        <div id="song-queue">
          <div class="song" ng-repeat="song in song_queue track by $index">
            <div class="vote-input">
              <a class="vote-button" ng-click="upvote(song)"><img src="/img/upvote-icon.png" alt=""></a>
              [[[song.points]]]
              <a class="vote-button" ng-click="downvote(song)"><img src="/img/downvote-icon.png" alt=""></a>
            </div>
            <img class="cover-img" ng-src="[[[ song.album.images[2].url ]]]" alt="">
            <div class="song-info">
              [[[song.name]]] - [[[song.artists[0].name]]]<br>
              <span style="color:grey;">Added by [[[song.added_by]]]</span>
            </div>
            <a class="delete-button" ng-show="user_id == song.added_by || user_id==admin" ng-click="deleteSong(song)"><img src="/img/delete-icon.png" alt="Delete song"></a>
          </div>
          <div class="song" ng-show="song_queue.length<1">
            <div class="song-info">
              No songs in queue right now, why not add one?
            </div>
          </div>
        </div>

      </div>
    </section>
  </body>
  <script type="text/javascript">
    var queue_id = "{{{id}}}";
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-cookies.min.js"></script>
  <script src="/js/search.js"></script>
  <script src="/js/sockets.js"></script>
</html>
